@model IEnumerable<BarRating.Models.Bar>

@{
    ViewData["Title"] = "Bars";
}

<h1>Bars Search</h1>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Add Bar</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span> <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span> <a asp-controller="Reviews" asp-action="Review" asp-route-id="@item.Id">Review</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
